# Server Configuration
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=owl
PORT=3001

# Client Configuration
# For local docker development, this usually points to localhost if accessing from the browser
VITE_API_BASE_URL=http://localhost:3001
